.info{
  display: flex;
  justify-content: center;
}

.band{
  text-align: center;
  line-height: 40px!important;
  width: 40px!important;
  background-color: #00003C; 
  border: 1px #00003C solid;
  color: white;
}

.back{
  cursor: pointer;
}

.tbox,.btn{
  border: none;
  outline: none;
}

.tbox{
  width: 0;
  color: #116F76;
}

.btn{
  background-color: #00003C!important;
  text-transform: uppercase!important;
  color: white!important;
  cursor: pointer!important;
  padding: 0 10px;
}


.info:hover > .tbox,.tbox:focus{
  width: 260px;
  padding: 0 10px;
  border: 1px solid #00003C;
}

.dir{
  text-align: center;
}

.txt-hidden{
  margin-bottom: 4px;
  width: 240px;
  padding:0 10px;
  border: none;
  border-bottom: 1px solid #00003C;
}

.txt-hidden:focus,.txt-hidden:hover{
   outline: none;
   padding-bottom: 3px;
   padding-left: 12px;
}

.tbox:focus > .txt-hidden:focus{
    padding: 10px 13px 0 7px;
  border: none;
  border-bottom: 1px solid #000;
}

.polio{
  width: 75px;
  height: 75px;
}

.recent{
  background-color: #ffd900;
  padding: 18px;
}

.recent a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  word-spacing:normal;
  animation-name: reveal;
  animation-duration: 2.5s;
}

@keyframes reveal {
  from {
    margin-left: -40%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#cookie-container{
    z-index: 999;
  width: 350px;
  min-height: 20px;
  box-sizing: border-box;
  padding: 35px;
  background: #5385c1;
  overflow: hidden;
  position: fixed;
    bottom: 0;
  right: 15px;
   border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  transition: 400ms;
}

.hidden{
  display: none;
}

.btn-close{
  font-family: inherit;
    color: #FFFFFF;
  font-size: 22px;
  float: right;
  margin-bottom:;
}

.speech{
  margin: 0.75em 0 1em 0;
}

#cookie-container h3{
    font-family: OpenSans, arial, "sans-serif";
  color: #FFFFFF;
  font-size: 22px;
  line-height: 20px;
  display: block;
}

#cookie-container p {
  margin: 0;
  padding: 0;
  font-family: OpenSans, arial, "sans-serif";
  color: #FFFFFF;
  font-size: 13px;
  line-height: 20px;
  display: block;
  margin-top: 10px;
}

#cookie-container a{
  color: #f5f6fa;
}

.cookie-btn{
  display: inline-block;
  font-family: OpenSans, arial, "sans-serif";
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  margin-top: 14px;
  background: gold;
  box-sizing: border-box; 
  padding: 15px 24px;
  text-align: center;
  transition: background 0.3s;
  border: none;
  outline: none;
}

 .cookie-btn:hover { 
  cursor: pointer;
  background: #3E9B67;
}


@media (max-width: 980px) {
  #cookie-container {
    left: 0px !important;
    width: 100%  !important;
    border-radius: 0px!important;
  }
}

